<!DOCTYPE html>
<html lang="en">

<head>
    <title>Panel de Administrador</title>
    <link rel="stylesheet" href="../Assets/Css/Panel_Admin.css">
    <link rel="icon" href="../Assets/Img/Escudo_HDD.png">
</head>

<body>
    <header>
        <a href="../index.html"><img src="../Assets/Img/Escudo HDD.png" alt="escudo H.D.D"></a>
        <h1>Panel de Administrador</h1>
    </header>

    <nav>
        <ul>
            <li><a href="#">Gestión de Refrigerios</a></li>
            <li><a href="#">Gestionar Cursos</a></li>
            <li><a href="../Controller/Usuarios.php">Gestionar Usuarios</a></li>
            <li><a href="#">Gestionar Reporte de Entrega</a></li>
        </ul>
    </nav>

    <div class="botones">
        <a href="../View/Registro.html" class="button">Registro</a>
        <a href="../View/Login.html" class="button">Inicio de Sesión</a>
    </div>
</body>

</html>
